// вложенные элементы везде
// анимацию для кнопки переделать

@mixin space-between($variable) {
    display: flex;
    justify-content: space-between;
    margin-right: $variable;
}

/* сброс стилей */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    background-color: #fff;
}

label {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* запрещает переопределять размеры */
* {
    box-sizing: border-box;
}

/* --------------- */

.alert {
    position: fixed;
    top: 70px;
    right: 0;
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    z-index: 1000;
    animation: showModal 0.5s;
}

@keyframes showModal {
    from {
        right: -200px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.title {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FD8558;
}

.title-secondary {
    font-weight: 400;
    font-size: 200px;
    line-height: 180px;
    color: #F7F7F7;
}

.subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #333;
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 0 8px;
}

/* ------------ */

.active {
    color: green;
}
.header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 74px;
    background-color: #fff;
    z-index: 100;
    box-shadow: 10px 5px 5px rgb(224, 85, 15);

    &__container {
        @include space-between(5px);
        width: 1060px;
        margin: 0 auto;
    }

    &__logo {
        font-weight: 700;
        font-size: 28px;
        line-height: 45px;
        color: #222;
    }
}



.navigation {
    display: flex;
    align-items: center;
    gap: 33px;
}

/* .navigation__item {
    margin-right: 33px;
}

.navigation__item:last-child {
    margin-right: 0;
} */

.navigation__item {
    font-size: 15px;
    color: #222222;
    border-bottom: 2px solid transparent;
    transition: 0.15s;

    &:hover {
        color: #FD8558;
        border-bottom: 2px solid transparent;
    }

    &--active {
        border-bottom: 2px solid #222222;
    }
}

// -----nav----------------------

.hamburger-menu {
    display: none;
    position: absolute;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  

.contacts {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* design */

.design {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 74px);
    font-weight: 400;
    line-height: 85px;
    color: #fff;
    background-color: #000;
}

.design__title {
    font-size: 70px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 28px;
}

/* .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 154px;
    height: 56px;
    color: #fff;
    background-color: #FD8558;
    white-space: nowrap;
} */

.button {
    padding: 13px 38px;
    color: #fff;
    background: #FD8558;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    border: none;
    transition: transform 2s, background-color 0.3s;
    white-space: nowrap;

    &:hover {
        background-color: #bf6342;
    }

    &__disabled {
        background: #333;
        color: #999;
        &:hover {
            background-color: #333;
            color: #999;
        }
    }
}


.button__secondary {
    border: 2px solid #FD8558;
    background: transparent;
}

.button__secondary:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* about */
.about__title-secondary {
    font-size: 150px;
    line-height: 145px;
}

.about__top-content {
    display: flex;
    justify-content: space-between;
}

.about__ultimate-cont {
    width: 430px;
}

.about__title-ultimate {
    margin-top: 15px;
}

.about__text-ultimate {
    font-size: 40px;
}

.about__paragraph {
    width: 600px;
}

.about__paragraph-title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222;
}

.about__paragraph-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #999;
}

.about__office-container {
    display: flex;
    justify-content: center;
    gap: 65px;
}

.about__text-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__quote {
    font-weight: 400;
    font-size: 26px;
    line-height: 45px;
    color: #222;
}

.about__quote-author-top {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #222;
}

.about__quote-author-bottom {
    display: block;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #CACACA;
}

/* solution */

.solution {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 200px;
}

.solution__item {
    position: relative;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.solution__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #333;
}

.solution__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #999;
}

.solution__img {
    height: 64px;
}

.solution__icon {
    position: absolute;
    top: -21px;
    left: 109px;
}

.decor {
    display: flex;
    align-items: center;
}

.line {
    width: 100%;
    height: 1px;
    background: #F5F5F5;

}

.decor__img {
    margin: 15px;
}

/* work */

.works__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.works__title {
    margin-bottom: 8px;
}

.works__subtitle {
    margin-bottom: 10px;
}

.works__wrapper {
    display: flex;
    justify-content: flex-end;
}

.gallery__container {
    display: flex;
}

.gallery__aside-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.gallery__img {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-position: center;
    background-size: cover;
}

.bag {
    height: 360px;
    background-image: url(../images/bag.png);
}

.house {
    height: 360px;
    background-image: url(../images/img1.png);
}

.different {
    height: 360px;
    background-image: url(../images/img2.png);
}

.pink {
    height: 720px;
    background-image: url(../images/pink.jpg);
}


.gallery__check-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    height: 126px;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
}


// ----------



.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 115px;

    &__text {
        width: 456px;
    }

    &__items {
        width: 600px
    }

    &__bar {
        height: 100%;
        width: 90%;
        background: linear-gradient(90deg, #FF4803 0%, #FFAE35 59.74%);

        &-container {
            height: 10px;
            background: #EEEEEE;
        }
    }

    &__item {
        position: relative;
        margin-top: 10px;

        &-primary {
            .skills__bar {
                width: 90%;
            }

            .skills__procent {
                position: absolute;
                top: 0;
                right: 10%;
            }
        }

        &-secondary {
            .skills__bar {
                width: 80%;
            }

            .skills__procent {
                position: absolute;
                top: 0;
                right: 20%;
            }
        }
    }
}

// ----- info

.info {
    padding-top: 60px;

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &__wrap {

        &:first-child {
            margin-bottom: 45px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgba(34, 34, 34, 0.4);
    }

    &__par {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: #222;
    }

    &__content {
        width: 293px;
    }
}

.form {
    width: 705px;

    &__wrap {
        display: flex;
        gap: 29px;
    }

    &__input {
        width: 100%;
        padding: 18px 0 18px 40px;

        &::placeholder {
            color: #999;
        }
    }

    &__message {
        margin-top: 30px;
        width: 100%;
        height: 128px;
        padding: 18px 0 18px 40px;
        resize: none;

        &::placeholder {
            color: #999;
        }
    }

    &__button {
        margin-top: 65px;
    }
}

.example {
    font-size: 2rem;
}

@media (max-width: 1024px) {

    .gallery__container{
        flex-wrap: wrap;
    }
    .pink {
        order: -1;
    }


}

@media (max-width: 990px) {
    .hamburger-menu {
        display: block;
    }

    .navigation {
        display: none;
    }

    .header__container {
        justify-content: center;
        gap: 20px;
    }

    .about__img {
        display: none;
    }

    .about__top-content {
        flex-direction: column;
        align-items: center;

        & div {
            width: 100%;
        }
    }

    .about__office-container {
        justify-content: flex-end;
    }

    .form__wrap {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .info__container {
        flex-wrap: wrap;
        gap: 60px;
    }
}

@media (max-width: 480px) {
    .header__container {
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        gap: 0;
    }
}